.img-fluid {
  max-width: 100%; 
  height: auto;
}
#logo {
  margin-top: -4px;
}
#rucksack {
  width: 60px;
}
#buttonGame, #buttonStart, #buttonRestart, #buttonClose {
  cursor: pointer;
}
#overlayGameOver {
  background-image: url("../img/game_over.jpg");
  background-repeat:no-repeat;
  background-position: center center;
}
#buttonRestart {
  position: absolute;
  top: 80%;
  right: 19%;
}
#buttonClose {
  position: absolute;
  top: 80%;
  right: 30%;
}
#message{
  /* width: 640px; */
  text-align: justify;
}
#help {
  float: right;
}
#overlayStart, #overlayGameOver {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,1); /* White background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}
#text{
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
  transform: translate(-50%,-50%);
}
#gameOver{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 1032px;
  height: 722px;
}